/* ======================================================
   UTILITIES
====================================================== */
@use 'utilities/variables';
@use 'utilities/animations';
@use 'utilities/responsive';

/* ======================================================
   BASE
====================================================== */
@use 'base/reset';

/* ======================================================
   COMPONENTS
====================================================== */
@use 'components/buttons';
@use 'components/cards';
@use 'components/icons';
@use 'components/navbar';

/* ======================================================
   LAYOUT
====================================================== */
@use 'layout/header';
@use 'layout/main';
@use 'layout/hero';
@use 'layout/carousel';
@use 'layout/about';
@use 'layout/footer';




