@use 'utilities/variables';
@use 'utilities/animations';
@use 'utilities/mixins';
@use 'utilities/responsive';

// 2. BASE
@use 'base/reset';

// 3. COMPONENTES
@use 'components/buttons';
@use 'components/cards';
@use 'components/icons';
@use 'components/navbar';

// 4. LAYOUT
@use 'layout/hero';
@use 'layout/carousel';
@use 'layout/about';
@use 'layout/footer';