/* ======================================================
   ABOUT
====================================================== */
.about-section img {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  border-radius: 15px;
  transition: .5s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0,0,0,.4);
  }
}