/* ======================================================
   ICONOS GLOBALES
====================================================== */
.icon-animated {
  display: inline-block; 
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 

  &:hover {
    transform: scale(1.3) rotate(-8deg);
    filter: drop-shadow(0 0 10px rgba(255, 193, 7, 0.7)); 
    color: #ffc107; 
  }
}

