/* ======================================================
   ICONOS GLOBALES
====================================================== */
i {
  transition: 0.4s;
}
i:hover {
  transform: scale(1.3) rotate(-8deg);
  filter: drop-shadow(0 0 10px rgba(255, 107, 53, 0.7));
}


