/* Error: There's already a module with namespace "variables".
 *     ,
 * 4   | @use 'utilities/variables';
 *     | ========================== original @use
 * ... |
 * 34  | @use 'utilities/variables';
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use
 *     '
 *   sass\style.scss 34:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"variables\".\a     \2577 \a 4   \2502  @use 'utilities/variables';\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 34  \2502  @use 'utilities/variables';\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   sass\\style.scss 34:1  root stylesheet";
}
